@page
<!-- Index.cshtml -->
<!-- Add model directive below -->
@model IndexModel

@{
    // Add ViewData Title below
}


<div class="mb-4 p-5 bg-secondary text-white">
    <h1 class="text-center">Hey there, I'm @Model.FullName!</h1>
</div>


<div class="container">
    <div class="resume-content">
        <h4 class="general-header mb-3">Summary:</h4>
        <p class="general-content mb-3">I'm an enthusiastic software engineer with @Model.YearsOfExperience+ years
            of experience participating in the complete lifecyclye of successfully launched applications. I am skilled
            in developing business plans, requirements specifications, user documentation, and architectural systems
            research. Strong written and verbal communications.</p>
    </div>

    <div class="resume-content">
        <h4 class="general-header mb-3">Languages:</h4>
        <ul class="list-group general-content">
            <li class="list-item" style="width: 18rem;">
                <!-- Language -->
            </li>
        </ul>
    </div>

    <div class="resume-content">
        <h4 class="general-header mb-3">Contact</h4>
        <p class="general-content">
            <!-- Render partial for Link below -->
        </p>
    </div>
</div>