@page
<!-- Projects.cshtml -->

<!-- Add model directive below -->

@{
    // Add ViewData Title below
}

<div class="jumbotron jumbotron-fluid jumbotron-container text-white project-jumbotron">
    <div class="container-fluid jumbotron-content">
        <p class="text-center mb-4 jumbotron-header">Projects</p>
    </div>
</div>

<div class="container">
    <div class="project-container">
        <h4 class="project-title general-header">
            <!--  Project Title -->
        </h4>
        <p class="project-year general-header">
            <!--  Project Year -->
        </p>
        <p class="project-description general-content">
            <!--  Project Description -->
        </p>
    </div>

    <br>
    <h4 class="general-header">Portfolio</h4>
    <p class="general-content">
        <!-- Render partial for Link below -->
    </p>
    <br>
</div>
